{% extends 'base.html.twig' %}

{% block title %}Liste des Patients{% endblock %}

{% block body %}
    <h1>Liste des Patients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>BirthDate</th>
                <th>Email</th>
                <th>VitalcardNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.lastname }}</td>
                <td>{{ patient.firstname }}</td>
                <td>{{ patient.birthDate ? patient.birthDate|date('d-m-Y') : '' }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.vitalcardNumber }}</td>
                <td>
                    <a class="btn btn-success"  title="Voir la fiche du patient" href="{{ path('patients_show', {'id': patient.id}) }}"><i class="fas fa-eye"></i></a>                   
                    <a class="btn btn-primary"  title="Modifier la fiche du patient" href="{{ path('patients_edit', {'id': patient.id}) }}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-secondary"  title="Modifier la fiche du patient" href="{{ path('patients_edit', {'id': patient.id}) }}"><i class="fal fa-calendar-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
