{% extends 'base.html.twig' %}

{% block title %}Appointments index{% endblock %}

{% block body %}
    <h1>Appointments index du patient</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>StartTime</th>
                <th>EndTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                
                <td>{{ appointment.startTime ? appointment.startTime|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ appointment.endTime ? appointment.endTime|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('appointments_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('appointments_edit', {'id': patient.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('appointments_new') }}">Create new</a>
{% endblock %}
