{% extends 'base.html.twig' %}

{% block title %}Appointments index{% endblock %}

{% block body %}
    <h1>Appointments index</h1>
    <div class="container">
        <form class="d-flex" method="POST">
        		<input class="form-control me-2" type="date" name="search_appointment" placeholder="Search" aria-label="Search">
       			 <button class="btn btn-secondary" type="submit">Search</button>
    	</form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.startTime ? appointment.startTime|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ appointment.endTime ? appointment.endTime|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('appointments_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('appointments_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Il n'y a pas de rendez-vous</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('appointments_new') }}">Create new</a>
{% endblock %}
