{% extends 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block body %}
    <h1>Appointments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ appointment.startTime ? appointment.startTime|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ appointment.endTime ? appointment.endTime|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('appointments_index') }}">Voir la liste de Rendez-vous</a>

    <a class="btn btn-primary" href="{{ path('appointments_edit', {'id': appointment.id}) }}">Modifier le Rendez-vous</a>

    {{ include('appointments/_delete_form.html.twig') }}
{% endblock %}
